@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
/*Text*/
--Pale-Violet: hsl(276, 100%, 81%);
--Moderate-Violet: hsl(276, 55%, 52%);
--Desaturated-Dark-Violet: hsl(271, 15%, 43%);
--Grayish-Blue: hsl(206, 6%, 79%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Dark-Grayish-Violet: hsl(270, 7%, 64%);

/*Gradients*/
--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);

/*Secondary*/

--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet: hsl(270, 20%, 96%);
--Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
--Very-Light-Magenta: hsl(289, 100%, 72%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik";
    background-color: var(--Light-Grayish-Violet);
    grid-template-rows: 1fr auto;
    gap: 2em;
    padding: 2em 4em;
    height: 100vh;
    position: relative;
    overflow: unset;
}

.left-object {
    width: 500px;
    height: 800px;
    border-radius: 0 0 250px 250px;
    position: absolute;
    top: 0;
    left: -2rem;
    background: linear-gradient(to bottom left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    z-index: -1;
}
.right-object {
    width: 500px;
    height: 800px;
    border-radius: 250px 250px 0 0; 
    position: absolute;
    bottom: 0;
    right: -2rem;
    background-color: hsl(293, 100%, 63%, 0.1);
    z-index: -1;
}

.main_holder {
    display: flex;
    justify-content: center;
    padding: 2rem;
    }
    
    .main_holder__app { 
        border: 15px solid var(--White);
        background-color: var(--Light-Grayish-Violet);
        -webkit-border-radius: 55px;
        -moz-border-radius: 55px;
        border-radius: 40px;
        align-items: center;
        max-width: 350px;
        height: 700px;
        margin: 2rem;
        
    }
    .main_holder__app__Samuel {
        background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
        border-radius: 20px 20px 5px 5px;
        display: flex;
        justify-content: flex-start;
        height: 100px;
        padding: 40px 10px 40px 10px;
        position: relative;
    }
    .main_holder__app__shape {
        width: 200px;
        height: 1.9rem;
        background-color: var(--White);
        border-radius: 0.85rem;
        position: absolute;
        top:-0.5rem;
        left: 3.7rem;
    }
    .article__card__Samuel--avatar {
        width: 30px;
        height: 30px;
        border: 2px solid var(--White);
        border-radius: 50px;
        position: relative;
        left: 0.5rem;
        top: 5px;
    }
    .main_holder__app__Samuel h5 {
        position: relative;
        font-size: 1rem;
        top: 0.1rem;
        left: 1.1rem;
        color: var(--White, 0.1);
    }
    .main_holder__app__Samuel h5 span {
        color: var(--Pale-Violet);
        font-size: 0.8rem;
    }
    .main_holder__app__Samuel--left-arrow {
        position: relative;
        top: 0.6rem;
    }
    .main_holder__app__Samuel--dots-vertical{
        position: relative;
        top:0.6rem;
        left: 7rem;
    }

    .main_holder__app__message {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .main_holder__app__message--1 {
        background-color: hsl(276, 55%, 52%, 0.05);
        width: 12rem;
        border-radius: 0.8em 0.8em 0.8em 0.2em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 5px;
        font-size: 0.8em;
        color: var(--Moderate-Violet);
        font-weight: 400;
        
    }
    .main_holder__app__message--2 {
        background-color: hsl(276, 55%, 52%, 0.05);
        width: 12rem;
        border-radius: 0.8em 0.8em 0.8em 0.2em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 5px;
        color: var(--Moderate-Violet);
        font-weight: 400;
    }


    .main_holder__app__images {
        display: flex;
        justify-content: flex-end;
        
    }
    .main_holder__app__images img {
        width: 2.8rem;
        margin: 0.5rem;
        border-radius: 0.5em;
        
    }

    .main_holder__app__message--replay {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .main_holder__app__message--replay1 {
        background-color: hsl(271, 15%, 43%, 0.05);
        width: 12rem;
        border-radius: 0.8em 0.8em 0.2em 0.8em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 5px;
        color: hsl(271, 15%, 43%);
        font-weight: 400;
    }
    .main_holder__app__message--replay2 {
        background-color: hsl(271, 15%, 43%, 0.05);
        width: 8rem;
        border-radius: 0.8em 0.8em 0.2em 0.8em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 10px;
        color: hsl(271, 15%, 43%);
        font-weight: 400;
    }
    .main_holder__app__message--3 {
        background-color: hsl(276, 55%, 52%, 0.05);
        width: 12rem;
        border-radius: 0.8em 0.8em 0.8em 0.2em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 5px;
        color: var(--Moderate-Violet);
        font-weight: 400;
    }

    .main_holder__app__message--offer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .main_holder__app__message--offer1 {
        display: flex;
        background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        width: 15rem;
        border-radius: 0.8em 0.8em 0.8em 0.2em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 10px;
        font-size: 0.8em;
        color: var(--Moderate-Violet);
        font-weight: 400;
    }
    .main_holder__app__message--offer2 {
        display: flex;
        background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        width: 15rem;
        border-radius: 0.8em 0.8em 0.8em 0.2em;
        font-size: 0.8em;
        margin: 0.5rem;
        padding: 10px;
        font-size: 0.8em;
        color: var(--Moderate-Violet);
        font-weight: 400;
    }
    .main_holder__app__message--offer .circle {
        border: 3px solid hsl(270, 20%, 96%, 0.4);
        width: 20px;
        height: 20px;
        border-radius: 50px;
        margin: 0.6rem 0.4rem 0.4rem 0.4rem;
    }
    .main_holder__app__message--offer p{
        margin: 0.4rem;
        color: hsl(270, 20%, 96%, 0.8);
        font-weight: 500;
    }
    .main_holder__app__message--offer1 span{
        margin: 0.4rem 0.4rem 0.4rem 2.2rem;
        color: hsl(270, 20%, 96%, 1);
        font-weight: 700;
        font-size: 1.1rem;
    }
    .main_holder__app__message--offer2 span{
        margin: 0.4rem 0.4rem 0.4rem 3.8rem;
        color: hsl(270, 20%, 96%, 1);
        font-weight: 700;
        font-size: 1.1rem;
    }

    .main_holder__app__new_message {
        position: relative;
        display: flex;
        flex-direction: column;
        place-items: center;
        margin: 0.5rem;
    }
    .main_holder__app__new_message--input {
        width: 300px;
        height: 50px;
        border-radius: 20px;
        padding: 1rem;
        background-color: var(--White);
        border-style: none;
        outline: none;
        -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3); 
        box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    }
    .main_holder__app__new_message--circle-right-arrow {
        width: 35px;
        position: absolute;
        top: 6px;
        right: 1rem;
    }


    .main_holder__article { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 550px;
        margin: 2rem;
        padding: 2rem;   
    }
    .main_holder__article h1 {
        color: var(--Very-Dark-Desaturated-Violet);
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 2.5rem;

    }
    .main_holder__article h3 {
        color: var(--Dark-Grayish-Violet);
        line-height: 1.3;
    }


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 1440px) {
    .left-object {
        width: 500px;
        height: 800px;
        border-radius: 0 0 250px 250px;
        position: absolute;
        top: -8rem;
        left: -15rem;
        background: linear-gradient(to bottom left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        z-index: -1;
    }
    .right-object {
        width: 500px;
        height: 800px;
        border-radius: 250px 250px 0 0; 
        position: absolute;
        bottom: -20rem;
        right: -15rem;
        background-color: hsl(293, 100%, 63%, 0.1);
        z-index: -1;
    }

    .main_holder {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .main_holder__article {
        display: flex;
        flex-direction: column;
        place-items: center;
        max-width: 400px;
    }
    .main_holder__article h3 {
        text-align: center;
    }
}
